/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* The following is for the Markdown table styling  */
table
{
	border: 1px solid gray;
}

td
{
	border: 1px solid gray;
	padding: 10px;
}

th
{
	border: 1px solid gray;
	padding: 10px;
}